<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Shop By</h3>
      <ul>
        <li><a href="#">Women</a></li>
        <li><a href="#">Men</a></li>
        <li><a href="#">Baby</a></li>
        <li><a href="#">Kids</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sport</a></li>
        <li><a href="#">Sale</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Corporate Info</h3>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Delivery Information</a></li>
        <li><a href="#">Terms and Conditions of Sale</a></li>
        <li><a href="#">Website Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Returns & Refunds</a></li>
        <li><a href="#">Sustainability</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Customer Service</h3>
      <ul>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">H&M Home Furniture & Lighting</a></li>
        <li><a href="#">Gifting</a></li>
      </ul>
    </div>
    <div class="footer-section newsletter">
      <h3>Newsletter</h3>
      <form>
        <input type="email" placeholder="Enter your email address">
        <button type="submit">Sign up</button>
      </form>
      <p>Be the first to know about our newest arrivals, special offers, and store events near you.</p>
      <h3>Follow us</h3>
      <div class="social-icons">

        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-spotify"></i></a>
      </div>

    </div>

  </div>
  <div class="customer-service">
    <h3>Customer Service</h3>
    <p>For Egypt <a>02-24803822</a></p>
    <p>We are open Saturday to Thursday 8:00 AM to 9:00 PM & Friday 12:00 PM to 9:00 PM (Egypt local time, GMT +2)</p>
    <p class="eg">Egypt (EG) <a href="#">Change Country</a></p>
  </div>
  <div class="footer-bottom">
    <p>© 2025 H&M Hennes & Mauritz AB. All Rights Reserved</p>
    <img src="img/pay/visa.png" alt="visa">
  </div>
</footer>
